<body>

  <div id="container">

    <div id="content2">

<div class="myasp_blank">
<span class="title">ご登録されているメールアドレスにパスワード再設定用のメールを送信しました。</span>
<br>
<a href="http://localhost:3000/login/index"><span class="back">戻る</span></a>
</div>
    </div>
  </div>
</body>