// Place all the styles related to the orderedit controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url(https://school.oohara.jp/takase/lunchbox.jpg);
  /*縦横比は保持して、背景領域を完全に覆う最小サイズになるように背景画像を拡大縮小する*/
  background-size: cover;
  color: #333333;
}

input[type ="button"],input[type ="submit"] {
  border-radius: 7px;
  width: 80px;
  height:  40px;
  font-size: 17px;
}

input[type ="text"] {
  border-radius: 7px;
  width: 240px;
  height:  40px;
  font-size: 20px;
}


textarea {
  /*角を丸くする*/
  border-radius: 7px;
  font-size: 20px;
}

input[type="checkbox"]{
   /*チェックボックスを大きくする*/
   transform: scale(2.5);
   /*右側余白を空ける*/
   margin-left: 1em;
   margin-right: 3em;
}

.title {
  font-size: 35px;
  font-weight: bold;
  border-bottom:solid;
  border-width:1px;
  border-color: #545454;
}

th {
  font-size: 25px;
}

td {
  font-size: 20px;
}

.cal1, .cal2 {
	transform: scale(1.5);
}

.back {
  font-size: 20px;
}